@using Microsoft.AspNetCore.Components;
@using System.Threading.Tasks;
@using System.Threading;
@using BlazorBifurcations.Calculations;
@using BlazorBifurcations.Client.Services;
@inject DiagramService ClientDiagramService

@page "/"
<div>
    <canvas id="diagramCanvas" width="1800" height="800"></canvas>
</div>
<footer>
    <span>Fertility: @ClientDiagramService.CurrentFertility</span>
</footer>

@code {

    protected override void OnInitialized()
    {
        ClientDiagramService.StateChanged += OnStateChanged;
        ClientDiagramService.Start();
    }

    protected void OnStateChanged(object sender, EventArgs e)
    {
        this.StateHasChanged();
    }

    protected void startCalculation()
    {
        ClientDiagramService.Start();
    }
}