html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: small;
    background-color: black;
    color: white;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}